* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: #F4F4F4;
    font-family: "Playfair Display", serif;
}

#exp-header {
    background: #5B9BD5;
    padding: 20px 0; 
    text-align: center; 
    font-size: 1.8rem;
    color: #F4F4F4;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    font-weight: bolder;
}

#exp-form {
    width: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 20px; 
}

#exp-form p {
    width: 100%;
    margin: 10px 0; 
    text-align: center; 
}

input, select {
    width: 90%; 
    max-width: 230px; 
    height: 40px; 
    border-radius: 15px; 
    padding: 10px; 
    font-size: 1rem;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin: 5px 0; 
}

button {
    width: 90%;
    max-width: 230px; 
    height: 45px;
    border-radius: 15px;
    font-size: 1.2rem;
    cursor: pointer;
    background: #5B9BD5;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    color: #F4F4F4;
    margin: 10px 0; 
}
button:hover {
    background: #4A8BAF;
}

.table-container, .pagination {
    margin: 20px auto; 
    width: 90%; 
    max-width: 80%; 
    overflow-x: auto; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 1rem; 
}

#data-table {
    width: 100%;
    border-collapse: collapse; 
}

#data-table th, #data-table td {
    padding: 12px;
    text-align: center; 
}

#data-table th {
    background: #5B9BD5;
    color: #F4F4F4;
    font-weight: bolder;
}

#data-table td {
    background: #FFFFFF;
    border-bottom: 1px solid #ccc;
    color: #333; 
}

#data-table tr:nth-child(even) td {
    background: #efefef; 
}

.edit-btn, .delete-btn {
    border: none; 
    border-radius: 5px; 
    padding: 5px 10px; 
    cursor: pointer; 
}

.edit-btn {
    background: #5B9BD5;
    color: #F4F4F4; 
}

.edit-btn:hover {
    background: #4A8BAF;
}

.delete-btn {
    background: #FF6F61;
    color: #FFFFFF; 
}

.delete-btn:hover {
    background: #E95A51; 
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.4); 
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    max-width: 500px; 
    max-height: 80%; 
    overflow-y: auto;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    border-radius: 15px; 
}

.modal-content h2 {
    margin-bottom: 20px; 
    color: #333;
}

.modal-content p {
    margin: 10px 0; 
    display: flex;
    flex-direction: column; 
}

.modal-content label {
    margin-bottom: 5px; 
    font-weight: bold; 
}

.modal-content input,
.modal-content select {
    width: 100%;
    height: 40px; 
    border-radius: 15px;
    padding: 10px; 
    font-size: 1.2rem;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.modal-content button {
    width: 100%;
    height: 45px; 
    border-radius: 15px;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 10px;
}

.modal-content button#confirmButton {
    background: #5B9BD5;
    color: #F4F4F4;
}

.modal-content button#confirmButton:hover {
    background: #4A8BAF; 
}

.modal-content button:not(#confirmButton) {
    background: #FF6F61;
    color: #FFFFFF;
}

.modal-content button:not(#confirmButton):hover {
    background: #E95A51;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#edit-form-field,
#delete-msg-field,
#id-to-delete-exp {
    display: none;
}

#gold {
    background-color: #d4af37; 
    color: white;
    margin-top: 10px;
    border: 3px solid black; 
    border-radius: 15px; 
    padding: 10px 20px; 
    font-size: 1.2rem;
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#gold:hover {
    background-color: #b59426; 
    transform: scale(1.05); 
}

#month-year-expenses, #welcome-user {
    margin: 20px auto;
    width: 90%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.align {
    padding-top: 25px;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-item {
    width: 40px;
    display: flex;
    justify-content: center;
}

li {
    list-style-type: none;
}

#page-1, #page-2, #page-3, #page-4, #page-5, #page-6 {
    display: none;
}


@media (max-width: 768px) {
    #exp-form {
        flex-direction: column; 
    }

    #month-year-expenses, #welcome-user {
        flex-direction: column; 
        align-items: stretch; 
    }

    .table-container {
        width: 100%;
    }

    #data-table {
        font-size: 0.9rem; 
    }
    #gold {
        width: 100%; 
        margin-top: 20px; 
    }
}
