<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Day-to-Day-Expense-Tracker</title>
    <link href="/expenses.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <div class="table-container">
        <table id="data-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Total Amount Spent</th>
                </tr>
            </thead>
            <tbody id="t-body" style="text-align: center;">
              
             
            </tbody>
        </table>
    </div>
    
  <script src="/prmdashboard.js"></script>
</body>
</html>