<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Day-to-Day-Expense-Tracker</title>
    <link href="/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

</head>
<body>
    <div id="forg-box">
        <div id="forg-header">
             <h3>Reset Password</h3>
        </div>
        <div id ='form-box'>

            <form id="forg-form">
              
            <p class="emailfield">
                <label for="email">
                Email:
                </label>
                <input type="email" name="email" id="email" placeholder="Your email"  autocomplete="email" required>
            </p>
            <p id="alert-msg">

            </p>
            <button id="forg-btn" type="submit" >Get password reset link</button>
            </form>
           
            
        </div>
        
        <div class="login-footer">
            
       </div>
    </div>
 <script src="/forgotpassword.js"></script>
</body>
</html>