<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Day-to-Day-Expense-Tracker</title>
    <link href="/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

</head>
<body>
    <div id="login-box">
        <div id="login-header">
             <h3>Login</h3>
        </div>
        <div id ='form-box'>

            <form id="login-form">
              
            <p class="emailfield">
                <label for="email">
                Email:
                </label>
                <input type="email" name="email" id="email" placeholder="Your email"  autocomplete="email" required>
            </p>
            <p class="passwordfield">
                <label for="pswd">
                Password:
                </label>
                <input type="password" name="pswd" id="pswd" placeholder="Type password"  autocomplete="current-password" required>
            </p>
            <button id="login-btn" type="submit" >Login Now</button>
            </form>
           
            
        </div>
        <div class="new-user">
            <a href="http://13.233.144.215/forgotpassword">Forgot password</a>
        </div>
        <div class="new-user">
            <a href="/">Create an account</a>
        </div>
        
        <div class="login-footer">
            
       </div>
    </div>
    <script src="/loginlogic.js"></script>
</body>
</html>