<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Day-to-Day-Expense-Tracker</title>
    <link href="../public/style.css" rel="stylesheet">
</head>
<body>
    <div class="signup-box">
        <div id="signup-header">
             <h3>Sign-Up</h3>
        </div>
        <div id ='form-box'>

            <form id="signup-form">
                <label for="name">
                 Name: 
                </label>
                <input type="text" name="name" id="name" placeholder="Your name" required>
                <label for="email">
                Email:
                </label>
                <input type="email" name="email" id="email" placeholder="Your email" required>
                <label for="pswd">
                Password
                </label>
                <input type="password" name="pswd" id="pswd" placeholder="Type password" required>
            </form>

        </div>
        <div id="signup-footer">
             <h3>Submit & Sign-Up</h3>
        </div>
    </div>
</body>
</html>